<div class="card border-primary mb-3">
  <div class="card-header text-center">Carga tu email</div>
  <div class="card-body">
    <form id="new-email-form">
      <div class="d-flex flex-column">
        <div class="mb-3">
          <label for="email-input" class="form-label">Email</label>
          <input
            id="email-input"
            name="email-input"
            type="email"
            class="form-control"
            placeholder="email@example.com"
            autocomplete="off"
          />
        </div>
        <div class="mb-3">
          <label for="nombre-input" class="form-label">Nombre</label>
          <input
            type="text"
            class="form-control"
            name="nombre-input"
            id="nombre-input"
          />
        </div>
        <div class="mb-3">
          <label for="apellido-input" class="form-label">Apellido</label>
          <input
            type="text"
            class="form-control"
            id="apellido-input"
            name="apellido-input"
            autocomplete="off"
          />
        </div>
        <div class="mb-3">
          <label for="edad-input" class="form-label">Edad</label>
          <input
            type="number"
            class="form-control"
            id="edad-input"
            name="edad-input"
            autocomplete="off"
          />
        </div>
        <div class="mb-3">
          <label for="alias-input" class="form-label">Alias</label>
          <input
            type="text"
            class="form-control"
            id="alias-input"
            name="alias-input"
            autocomplete="off"
          />
        </div>
        <div class="mb-3">
          <label for="avatar-input" class="form-label">Avatar</label>
          <input
            type="text"
            class="form-control"
            id="avatar-input"
            name="avatar-input"
            autocomplete="off"
          />
        </div>
      </div>
    </form>
  </div>
</div>